<nav class="footer space-between white">
  <%= link_to root_path, class: "nav-link active" do %>
    <i class="icon-sm fas fa-house fa-lg fa-2x"></i>
  <% end %>
  <%= link_to setup_path, class: "nav-link active" do %>
    <i class="icon-sm fas fa-location-dot fa-lg fa-2x"></i>
  <% end %>
  <%= link_to new_cart_item_path, class: "nav-link active" do %>
    <i class="icon-sm fas fa-shopping-cart fa-lg fa-2x"></i>
  <% end %>
  <%= link_to orders_path, class: "nav-link active" do %>
    <i class="icon-sm fas fa-list-ul fa-lg fa-2x"></i>
  <% end %>
</nav>
