<nav class="footer space-between white">
  <%= link_to root_path, class: "nav-link active" do %>
    <i class="icon-sm center-content fas fa-house fa-lg fa-2x"></i>
  <% end %>
  <%= link_to setup_path, class: "nav-link active" do %>
    <i class="icon-sm center-content fas fa-location-dot fa-lg fa-2x"></i>
  <% end %>
  <%= link_to your_cart_cart_items_path, class: "nav-link active" do %>
    <i class="icon-sm center-content fas fa-shopping-cart fa-lg fa-2x"></i>
  <% end %>
  <%= link_to display_cart_items_cart_items_path, class: "nav-link active" do %>
    <i class="icon-sm center-content fas fa-list-ul fa-lg fa-2x"></i>
  <% end %>
</nav>