<nav class="footer space-between white">
  <%= link_to root_path, class: "nav-link active d-flex justify-content-center align-items-center" do %>
    <i class="icon-sm fas fa-house fa-lg fa-2x"></i>
  <% end %>
  <%= link_to orders_path, class: "nav-link active d-flex justify-content-center align-items-center" do %>
    <i class="icon-sm fas fa-user fa-lg fa-2x"></i>
  <% end %>
  <%= link_to your_cart_cart_items_path, class: "active" do %>
    <i class="icon-sm fas fa-shopping-cart"></i>
  <% end %>
</nav>
