  <nav class="navbar nav-bottom navbar-expand-sm" style="width: 400px; height: 60px; margin-top: auto;">
    <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">My orders</a>
        <a class="nav-item nav-link" href="#">My cart</a>
      </div>
    </div>
  </nav>
</div>
