<% @ribbon_text = "My orders" %>
<div class="d-flex flex-column h--100 px-2">
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
