<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

<div class="bg-blue center-content flex-column">
  <div>
    <dotlottie-player src="https://lottie.host/9debb8ff-b5c2-427d-a7ea-22a69122761a/wGneHfmL9S.json" background="transparent"
                      speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
  </div>
  <div>
    <h1>Welcome back, <%= current_user.name %>!</h1>
  </div>
  <div>
    <%= link_to "LET'S GO!", setup_path, class: "button violet" %>
  </div>
  <%= button_to "Are you not '#{current_user.name}'?", destroy_user_session_path, method: :delete, class: "gray button" %>
</div>
