<% @ribbon_text = "Taking your order" %>
<div class="bg-white d-flex flex-column justify-content-end h--100 px-2 flex-grow-1" data-controller="audio-input">
  <div class="flex-column flex-grow-1 mt-3 d-flex" id="textAreaFrame" data-audio-input-target="textAreaFrame">
    <textarea class="transcribed-text h--100 flex-grow-1" id="transcribedText" data-audio-input-target="transcribedText"
      placeholder="Quick Tips:
1. Speak or Type
2. Edit
3. Press 'Find groceries'">
    </textarea>
  </div>
  <div class="d-flex justify-content-end">
    <button class="button violet button--mic" data-action="click->audio-input#toggleRecording" data-audio-input-target="recordButton">
      <i class="fa fa-microphone record-icon"></i>
    </button>
  </div>
  <div class="d-flex justify-content-end">
    <button class="button violet" disabled data-action="click->audio-input#submitReviewedText" data-audio-input-target="submitButton">
      Find groceries!
    </button>
  </div>
</div>
