<% @ribbon_text = "Taking your order" %>
<div class="bg-white d-flex flex-column justify-content-end h--100 px-2" data-controller="audio-input">
  <div class="flex-column flex-grow-1 mt-3" id="textAreaFrame" data-audio-input-target="textAreaFrame">
    <!-- Initially empty -->
  </div>
  <div class="d-flex justify-content-end">
    <button class="button violet" data-action="click->audio-input#initializeTextArea">
      TAP TO START
    </button>
    <button class="button violet hidden" data-action="click->audio-input#toggleRecording" data-audio-input-target="recordButton">
      <i class="fa fa-microphone record-icon"></i>
      <span class="record-text">Tap to Speak</span>
    </button>
  </div>
  <div class="d-flex justify-content-end">
    <button class="button violet hidden" data-action="click->audio-input#submitReviewedText" data-audio-input-target="submitButton">
      Find groceries!
    </button>
  </div>
</div>

<%# <button class="button violet" data-action="click->audio-input#showTextArea">
  <i class="fa fa-pencil-alt"></i>
  <span></span>
</button> %>
