.button {
  display: flex; /* 'display' should only be set once, 'inline-block' removed */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white;
  border-radius: 8px;
  border-style: none;
  outline: none;
  min-width: 120px;
  font-size: 14px;
  padding: 8px;
  margin: 8px 0px;
  text-decoration: none;
  cursor: pointer;
}

.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--mic {
  position: fixed;
  bottom: 125px;
  right: 30px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  min-width: 0;
}

.button-quantity {
  background-color: white;
  border: 1.9px solid #6200EE;
  border-radius: 50%; /* Makes the button perfectly round */
  width: 22px;
  height: 22px;
  font-size: 17px;
  padding: 0; /* Adjust padding to control the size */
  margin: 8px;
  cursor: pointer;
}

.button-quantity:hover {
  background-color: #6200EE;
  color: white;
}

.button-quantity span {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 22px; /* Set line height to the height of the button to vertically center text */
}

/* The following class is not necessary if using 'button_to' as it is a Rails helper method */
.button_to {
  display: inline-flex; /* Make the form itself flex container */
  border: none; /* Remove if you have a border set on forms */
  padding: 0; /* Remove if you have padding set on forms */
  background: none; /* Remove if you have a background set on forms */
  margin-bottom: 0;
}


.violet {
  background-color: #6200EE;
}

.gray {
  background-color: grey;
}

// delivery toggle button
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 10px;

    &:before {
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: .4s;
      border-radius: 50%;
      position: absolute;
    }
  }

  input:checked + .slider {
    background-color: #66ea75;

    &:before {
      transform: translateX(20px);
    }
  }

  .slider.round {
    border-radius: 10px;

    &:before {
      border-radius: 50%;
    }
  }
}

.delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 1em;
  cursor: pointer;
}
