.quantity-button {
  display: flex;
  align-items: center;
  padding: 1px;
  margin-left: 3px;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1.9px solid #6200EE;
  border-radius: 30px;
  width: 70px !important; /* Set a fixed width */
  height: 30px; /* Set a fixed height */

  &:hover {
    background-color: #6200EE;
    color: white;

    .minus-plus {
      color: white;
    }
  }
}

.minus-plus {
  border: none;
  background: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.violet-button {
  display: flex;
  padding: 6px;
  margin: 20px;
  color: white;
  background-color: #6200EE;
  border-radius: 6px;
  border-style: none;
  outline: none;
  overflow: hidden;
  width: 120px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.centered-button {
  display: flex;
  justify-content: center;
}

.violet-button-confirm-selection {
  display: flex;
  padding: 6px;
  margin: 20px;
  color: white;
  background-color: #6200EE;
  border-radius: 6px;
  border-style: none;
  outline: none;
  overflow: hidden;
  width: auto;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.buttons {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-address-button,
.looking-good-button,
.now-looking-good-button {
  display: flex;
  padding: 6px;
  margin: 6px 0;
  color: white;
  border-radius: 6px;
  width: 170px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: border 0.3s;
}

.change-address-button {
  background-color: grey;
  border: none;
  outline: none;
}

.looking-good-button {
  background-color: #6200EE;
  border: none;
  outline: none;
  margin-bottom: 50px;
}

.now-looking-good-button {
  background-color: #6200EE;
  border: none;
  outline: none;
  margin-top: 50px;
}
