.item-card {
  width: 100%;
  padding: 0.4rem 0px;
}

.item-card-text {
  padding: 0px 0.75rem;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: inherit;
}

.no-decoration {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.transcribed-text {
  box-sizing: border-box;
  width: 100%;
  min-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  align-self: stretch;
}

.transcribed-text.show {
  min-height: 400px;
}
