.item-card {
  width: 100%;
  padding: 0.4rem 0px;
}

.item-card-text {
  padding: 0px 0.75rem;
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: inherit;
}

.no-decoration {
  text-transform: capitalize;
  text-decoration: none;
  color: black;
}

.transcribed-text {
  width: 100%;
  border: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.transcribed-text.show {
  max-height: 400px;
}

