.item-card {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.item-card-text {
  flex: 1;
  padding: 0 1rem;
}

.ellipsis { // truncate text
  cursor: pointer;
  color: #000000;
  font-weight: bold;
}


p {
  font-size: 0.9rem;
}

.no-decoration {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}