.footer {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  z-index: 1030;
  margin-top: auto;
  height: 60px;
  width: 100%;
  padding: 0.7rem;
}

.footer-nav {
  width: 100%;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.nav-item {
  text-align: center;
}

.nav-item i {
  background-color: D9D9D9;
  border-radius: 50%;
  width: 40px;
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3em;
  padding: 15px;
}

