.img-show {
  width: 100%;
  object-fit: cover;
  margin: 10px 0px;
}

.table-view {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: grey;
}

.table-view:hover,
.table-view:active {
  color: black;
}

.table-view.selected {
  color: black;
}

.option-container {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.store-name {
  flex: 1; /* Allows this element to grow and take up space */
  padding-right: 10px; /* Adds some space between the name and the price */
  padding-left: 10px;
}

.price {
  white-space: nowrap; /* Ensures the price doesn't wrap onto a new line */
}
