.img-show {
  width: 100%;
  object-fit: cover;
  margin: 10px 0px;
}

.table-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: grey;
  cursor: pointer;
}

.table-view:hover,
.table-view:active {
  color: black;
}

.table-view.selected {
  color: black;
}
