.hidden {
  display: none;
}

// layouts

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-text {
  text-align: center;
}

// colors

.violet {
  background-color: #6200ee;
}

.white {
  background-color: #ffffff;
}

// background fill colors

.bg-blue {
  background-color: #bfe4ff;
  position: relative;
  height: 100%;
}

.bg-white {
  background-color: #ffffff;
}

// hide scrollbar

.hide {
  scrollbar-width: none; /* For Firefox */
}

.hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.content-div {
  overflow-y: scroll;
  flex-grow: 1;
  width: 100%;
}

p {
  color: #555555;
  font-size: 0.9rem;
  margin: 3px 0px;
  // margin-bottom: 0rem;
}

h1 {
  font-size: 24px;
  line-height: 1.2;
  margin: 6px 0px;
}

h5 {
  font-size: 17px;
  line-height: 1.2;
  margin: 3px 0px;
}

td { // grid text
  font-size: 17px;
  margin: 4px 0px;
}

// h6 to be added