.app-content {
   background-color: #bfe4ff;
   position: relative;
   height: 100%;
}

.welcome-box {
  background-color: transparent; /* Change to transparent */
  border: none; /* Remove border */
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin: 6px;
  line-height: 1.2;
}

[data-welcome-target="welcomeBox.userName"] {
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.buttons {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-address-button,
.looking-good-button,
.now-looking-good-button {
  display: flex;
  padding: 6px;
  margin: 6px 0;
  color: white;
  border-radius: 6px;
  width: 170px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: border 0.3s;
}

.change-address-button {
  background-color: grey;
  border: none;
  outline: none;
}

.looking-good-button {
  background-color: #6200EE;
  border: none;
  outline: none;
  margin-bottom: 50px;
}

.now-looking-good-button {
  background-color: #6200EE;
  border: none;
  outline: none;
  margin-top: 50px;
}

#map {
  width: 90%;
  height: 300px;
  margin: 20px auto;
}

.updating-your-address {
  display: none;
  width: 80%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

/* Style the search input field */
.search-box input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
}

/* Style the search button */
.search-box input[type="submit"] {
  display: none; /* Hide the search button */
}


.user-details {
  text-align: center;
  margin: 50px 0;
  font-size: 14px;
  font-weight: bold;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
