.nav-bottom {
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: auto;
  background: #ffffff;
  z-index: 1030;

  .nav-item {
    flex-grow: 1;
    text-align: center;
  }
}
