.footer {
  position: absolute;
  bottom: 0;
  background: #ffffff;
  z-index: 1030;
  margin-top: auto;
  height: 60px;
  width: 100%;
}

.footer-nav {
  width: 336px;
  display: flex;
  padding-left: 7px;
  padding-right: 7px;
  justify-content: space-between; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.nav-item {
  text-align: center;
}

.nav-item i {
  background-color: D9D9D9;
  border-radius: 50%;
  width: 45px;
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4em;
  padding: 15px;
}

